* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
}

.wrap .self {
  margin-top: 48px;
  width: 1200px;
  height: 204px;
  border-bottom: 2px solid #000;
  border-bottom: 2px solid #000;
}

.wrap .self p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Andale Mono";
  letter-spacing: 0px;
  font-size: 80px;
  height: 90px;
  color: #000000;
  opacity: 1;
}

.wrap .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.wrap .profile .img-wrap {
  width: 324px;
  height: 324px;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 48px;
}

.wrap .profile .img-wrap .photo-img {
  width: 100%;
  height: 100%;
  background: url(../images/photo-large.png) no-repeat top;
  background-size: contain;
}

.wrap .profile h4 {
  width: 100%;
  font-family: "PingFang TC";
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  padding-bottom: 14px;
  border-bottom: 2px solid #000;
}

.wrap .profile h4 span {
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
  color: #a00404;
}

.wrap .profile ul {
  padding-top: 16px;
  padding-left: 48px;
}

.wrap .profile ul li {
  font-size: 24px;
  line-height: 36px;
  font-family: "PingFang TC";
  letter-spacing: 0px;
  height: 105px;
}

.wrap .profile ul li:nth-child(1) p:nth-child(1) {
  position: relative;
}

.wrap .profile ul li:nth-child(1) p:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: #96a9c4 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
}

.wrap .profile ul li:nth-child(2) {
  margin-top: 24px;
}

.wrap .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  margin-top: 72px;
}

.wrap .education h4 {
  width: 100%;
  font-family: "PingFang TC";
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  padding-bottom: 14px;
  border-bottom: 2px solid #000;
}

.wrap .education h4 span {
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
  color: #a00404;
}

.wrap .education ul {
  padding-top: 16px;
  padding-left: 48px;
}

.wrap .education ul li {
  font-size: 24px;
  line-height: 33px;
  font-family: "PingFang TC";
  letter-spacing: 0px;
  height: 36px;
}

.wrap .education ul li:nth-child(1) p:nth-child(1) {
  position: relative;
}

.wrap .education ul li:nth-child(1) p:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: #96a9c4 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
}

.wrap .education ul li:nth-child(2) {
  margin-top: 32px;
}

.wrap .education ul li:nth-child(2) p:nth-child(1) {
  position: relative;
}

.wrap .education ul li:nth-child(2) p:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: #96a9c4 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
}

.wrap .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 142px;
  margin-bottom: 72px;
  background: #96a9c4;
  z-index: -10;
}

.wrap .skills .skills-content {
  margin-top: -72px;
  margin-bottom: -72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  background: #415165;
  color: #fff;
}

.wrap .skills .skills-content h4 {
  text-align: center;
  width: 100%;
  margin: 0 102px;
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 35px;
  line-height: 45px;
  border-bottom: 1px solid #fff;
}

.wrap .skills .skills-content h4 span {
  font-size: 24px;
  line-height: 32px;
}

.wrap .skills .skills-content ul {
  margin-top: 40px;
  padding-left: 24px;
  margin-bottom: 56px;
  border-left: 1px solid #fff;
}

.wrap .skills .skills-content ul li {
  font-size: 24px;
  line-height: 32px;
  font-weight: 100;
}

.wrap .work-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 72px;
}

.wrap .work-experience h4 {
  width: 100%;
  font-family: "PingFang TC";
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  padding-bottom: 14px;
  border-bottom: 2px solid #000;
}

.wrap .work-experience h4 span {
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
  color: #a00404;
}

.wrap .work-experience ul {
  font-size: 24px;
  line-height: 36px;
  border-left: 1px solid #96A9C4;
  margin-top: 24px;
  padding-left: 24px;
  margin-left: 24px;
}

.wrap .work-experience ul li {
  font-size: 24px;
  line-height: 33px;
  padding-top: 32px;
}

.wrap .work-experience ul li:nth-child(1) {
  padding: 0;
}

.wrap .work-experience ul li:nth-child(2) {
  padding: 8px 0;
}

.wrap .work-experience ul li:nth-child(2) img {
  display: block;
}

.wrap .work-experience ul li:nth-child(3) {
  padding: 0;
  font-size: 20px;
  line-height: 30px;
}

.wrap .work-experience ul li:nth-child(8) {
  padding: 8px 0;
}

.wrap .work-experience ul li:nth-child(9) {
  padding: 0;
}

.wrap .contact-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 72px;
  background: #415165;
  color: #fff;
}

.wrap .contact-method .contact-content {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #fff;
}

.wrap .contact-method .contact-content h4 {
  margin-top: 24px;
  padding-bottom: 8px;
  text-align: center;
  width: 100%;
  font-family: "PingFang TC";
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  padding-bottom: 14px;
  border-bottom: 2px solid #fff;
}

.wrap .contact-method .contact-content h4 span {
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
}

.wrap .contact-method .contact-content ul {
  margin-top: 36px;
  text-align: center;
  width: 100%;
}

.wrap .contact-method .contact-content ul li {
  padding: 8px 0;
  font-size: 24px;
  line-height: 33px;
}

.wrap .contact-method .contact-content ul.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.wrap .contact-method .contact-content ul.icon li + li {
  margin-left: 24px;
}
/*# sourceMappingURL=all.css.map */